////////////Contacto////////////
    
.Contacto__header-redes{
    margin-left: 90%;
    margin-top: -7%;
}

.Contacto__body-local{
    
}

.contacto__body-titulo{
    margin-top: 5%;
}

.formulario{
    width: 50%;
    border-style: solid;
}

.Contacto__body-image{
    margin-left: 50%;
    margin-top: -40%;
}