////////////Giftshop////////

.Giftshop__header-redes{
    margin-left: 90%;
    margin-top: -7%;
}

.Giftshop__header-logo2{
    margin-left: 30%;
}

.Giftshop__header-titulo{
    margin-left: 2%;
    text-decoration: underline;

}
.giftshop__body-fotos{
    margin-top: 2%;
    
}
.card-block7 {
    
}

.card-block8 {
    margin-left: 10%;
}

.card-block9 {
    margin-left: 16%;
}

.card-block10 {
    margin-left: 2%;
}

.card-block11 {
    margin-left: 40%;
}

#footer__Giftshop{
    margin-top: 5%;
}